<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Basic Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/demo.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
</head>
<style>
    a:link{color:black;}
    a:visited{color:black;}
    a:hover{color:black;}
    a:active{color:black;}
</style>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        var reportSize = parseInt($(".reportSize").val());
        /*<![CDATA[*/
        for (var i = 1; i < reportSize + 1; i++){
            //获取表名称
            var reportId = parseInt($("#hidden"+i).val());
            toClick(reportId);
        }
        /*]]>*/
        function toClick(rid) {
            var url1 = "/index/getAllTableFields?reportId="+rid;
            //给每张表添加点击事件
            $("#reportName"+i).click({"url1":url1},function (event) {
                var reportId = event.data.url1;
                /*<![CDATA[*/
                $("#iframeId").html("<iframe src="+reportId+" " +
                    "scrolling='no'  width='100%' height='99.5%' name='right' ></iframe>");
                /*]]>*/
            })
        }
    });
</script>
<body>
<div class="easyui-layout" style="width:100%; height:800px;">
    <div data-options="region:'west',split:true" title="表名" style="width:305px;">
        <div th:each="RpReportName,reportStat:${RpReportNames}" id="fatherId">
            <!--保存表名-->
            <input type="hidden" th:value="${RpReportName.reportId}" th:id="'hidden'+${reportStat.count}"/>
            <!--保存表的总数-->
            <input type="hidden" th:value="${reportStat.size}" class="reportSize"/>
            <!--展示表名-->
            <a th:id="'reportName'+${reportStat.count}" th:text="${RpReportName.reportName}" href="#" style="text-decoration:none;"></a>
            <br/>
        </div>
    </div>
    <div data-options="region:'center',title:'报表所有字段'" id="iframeId">
        <!--<iframe src="" scrolling="no"  width="100%" height="99.5%" name="right" ></iframe>-->
    </div>


</div>
</body>
</html>