<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>click</title>


    <link rel="stylesheet" type="text/css" href="/css/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/demo.css"/>


    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fileDownload.js"></script>
</head>
<body>

<form enctype="multipart/form-data"  id="frm">
<div >
  <!--  <input type="hidden" value="0" th:value="${tas.tableName}"  class="ipt" id="eee"></input>-->
    <table th:id="'dd'+${iterStat.count}"   class="easyui-datagrid" th:title="${tas.tabName}"  style="width:300px;height:180px"
           th:each="tas,iterStat : ${lbs}"
           data-options="rownumbers:true,singleSelect:false,collapsible:true,url:'',method:'get',collapsed:true,fitColumns:true">
        <input type="hidden" th:value="${iterStat.size}" id="inp"/>
        <input type="hidden" th:value="${tas.tabName}" th:id="'tab1'+${iterStat.count}"/>
        <thead>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'field'">选择条件</th>
            <th data-options="field:'name'">显示字段</th>
        </thead>
        <tbody>
            <tr th:each="tt,iterStat:${tas.calList}">
                <td data-options="field:'ck',checkbox:true"></td>
                <td th:text="${tt.field}" ></td>
                <td th:text="${tt.fieldMeans}" ></td>
            </tr>
        </tbody>

    </table>
    <br/>
    <input type="button" value="获取选中字段" id="btn" />

    </div>
</form>


</body>


<script th:inline="javascript" type="text/javascript">

    $(function(){
        var ids = [];
        var str = "";//字段名
        var strtab = "";//表名
        var strLabels = "";//字段别名
        $("#btn").bind("click",function(event){
            ids = [];
            str = "";
            strtab = "";
            strLabels = "";
            var cols = parseInt($("#inp").val())+1;
            //alert(cols);
            /*<![CDATA[*/
            for(var j=1;j < cols;j++){
                var rows = $("#"+"dd"+j).datagrid('getSelections');
                var tabname = "";
                if(rows.length>0){
                     tabname= $("#tab1"+j).val();
                     strtab += tabname + ",";
                }

                //alert("rows");

                for(var i=0; i<rows.length; i++){
                    ids.push(rows[i].field);
                    str +=tabname+"."+rows[i].field+",";
                    strLabels += rows[i].name+",";
                }
                if(j == cols-1){
                    str =str.substring(0,str.length-1);
                    strLabels =strLabels.substring(0,strLabels.length-1);
                }
            }
            /*]]>*/
            strtab = strtab.substring(0,strtab.length-1);
          //  alert(ids.join(','));
          //  alert("tabname:"+strtab);
          //  alert("str:"+str);
          //  alert("fields:"+strLabels);

            var url= "/load/spit";
            $.fileDownload(url,{
                httpMethod: 'POST',
               data:{"str":str,"strtab":strtab,"strLabels":strLabels},
                prepareCallback:function(url){
                    alert("下载开始，请稍等！");
                   // common.layer.loading();
                },
                successCallback:function(url){

                    alert('下载成功！');
                },
                failCallback: function (html, url) {
                    alert("导出失败，未知的异常。");
                }
            });


        })
    })


</script>






</html>
